.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #EA5E32;
}
   
.menu{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
}
    
.menu-item{
    list-style-type: none;
    text-decoration: none;
}
    

a:-webkit-any-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px ;
    font-weight: 600;
    text-transform: uppercase;
}
    