.todo-form{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px 0;
    &__control{
        width: 100%;
        position: relative;
    }
    &__input{
        width: 100%;
        font-size: 16px;
        padding: 10px 20px;
        outline: none;
        border: 1px solid #8f8f8f;
        border-radius: 5px;
        margin-bottom: 15px;
        color: #6b6b6b;
    }
    &__input::placeholder{
        font-size: 16px;
        color: #b0b0b0;
    }
    &__textarea{
        width: 100%;
        font-size: 16px;
        padding: 10px 20px;
        outline: none;
        border: 1px solid #8f8f8f;
        border-radius: 5px;
        margin-bottom: 15px;
        color: #6b6b6b;
    }
    &__textarea::placeholder{
        font-size: 16px;
        color: #b0b0b0;
    }
    &__btn{
        border: 1px solid #EA5E32;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        color: #EA5E32;
        background: #ffffff;
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 15px;
        &:focus{
            outline: none;
        }
    }
    &__btn:hover{
        background: #EA5E32;
        color: #ffffff;
    }
    &__error-msg{
        color: #EA5E32;
        font-size: 12px;
        position: absolute;
        bottom: -14px;
        left: 20px;
    }
}
.label{
    font-size: 16px;
    color: #EA5E32;
    letter-spacing: 1px;
}